<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>B</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>C</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>D</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>E</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>F</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>G</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>H</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>I</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>J</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>K</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>L</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>M</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>N</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>O</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>P</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Q</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>R</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>S</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>T</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>U</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>V</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>W</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>X</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Y</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>z</string>
			<key>phone</key>
			<string>13312131111</string>
		</dict>
	</array>
</array>
</plist>
